[submodule "tools/grim"]
	path = tools/screenshot/grim
	url = https://git.sr.ht/~emersion/grim
[submodule "tools/screenshot/slurp"]
	path = tools/screenshot/slurp
	url = https://github.com/emersion/slurp.git
[submodule "tools/editor/vim-config"]
	path = tools/editor/vim-config
	url = https://github.com/maxmbed/vim-config.git
