@import "latte.css";

* {
  /* reference the color by using @color-name */
  color: @text;
}

window#waybar {
  /* you can also GTK3 CSS functions! */
  background: shade(@border, 0.1);
  /*background-color: shade(@base, 0.9);*/
  border: 1px solid alpha(@border, 1.0);
}

tooltip {
  background: rgba(255, 255, 255, 1.0);
  border: 1px solid alpha(@border, 1.0);
}
